<div>
    <div class="header">
        <div class="header-name">
            <div class="header-name-container">

                <span class="material-symbols-outlined" style="color:slateblue">
                    diversity_2
                </span>
                <span style="font-size: 20px;font-weight: 600;margin-left: 10px;color:#2E3840">Mohit-Dev</span>

            </div>
        </div>
        <div class="header-navigation">
            <div class="header-title">
                About Me
            </div>
            <div class="header-title">
                Skills
            </div>
            <div class="header-title">
                Projects
            </div>
        </div>
        <div class="header-title contact">
            Contact Me
        </div>
    </div>

</div>